# Python

In [1]:
#1.Lists within tuples

cars=(["AUDI","BMW","TOYATA"],
      ["VOLVO","FORD","TESLA"],
      ["FERRARI","LAMBORGHINI","BUGATTI"])

print("The selected car is:",cars[1][2])

The selected car is: TESLA

In [2]:
#2.List within Lists:

coins=[
    {"Bigcoins":["BTC","ETH","SOL"]},
    {"Altcoins":["DOGE","SHIB","PEPE"]},
]

print("Alt coins are:",coins[1]["Altcoins"])
print("Selected coin is",coins[0]["Bigcoins"][1])

Alt coins are: ['DOGE', 'SHIB', 'PEPE']
Selected coin is ETH

In [3]:
#3.tuples within tuples

CoreSubjects=(("Artificial Intelligence","Computer Networks","Data Structures","Operating Systems"),
              ("Database Management Systems","Software Engineering","Web Development"),
              ("Computer Graphics","Computer Vision","Machine Learning"))

for x in CoreSubjects:
    for y in x:
     print(y)

Artificial Intelligence
Computer Networks
Data Structures
Operating Systems
Database Management Systems
Software Engineering
Web Development
Computer Graphics
Computer Vision
Machine Learning

In [4]:
#4.List and Tuple within Lists:

Students=[("Farhan","Ali",["Maths","Physics","Chemistry"]),
            ("Ali","Ahmed",["English","Urdu","Islamiat"]),
            ("Usman","Khan",["Biology","Computer","Statistics"])]

print("The subjects of Ali are:",Students[1][2])

The subjects of Ali are: ['English', 'Urdu', 'Islamiat']

In [3]:
#5.tuples in sets

Places={("India","USA","UK","Canada"),
         ("Australia","New Zealand","South Africa"),
         ("Brazil","Argentina","Chile")}

for x in Places:
   for y in x:
    print(y)

Australia
New Zealand
South Africa
India
USA
UK
Canada
Brazil
Argentina
Chile

In [6]:
# Nested Dictionary
nested_dict = {
    'Farhan': {
        'Batch': 21-25,
        'age': 20,
        'grades': {
            'math': 90,
            'science': 85,
            'history': 88
        }
    },
    'Haroon': {
        'Batch': 21-25,
        'age': 22,
        'grades': {
            'math': 95,
            'science': 92,
            'history': 89
        }
    }
}


for subject, grade in nested_dict['Farhan']['grades'].items():
    print(f"\t\t{subject}: {grade}")

		math: 90
		science: 85
		history: 88

In [7]:
# 7 Nested set

nested_set = {
    frozenset({'Lahore', 'Rawalpindi', 'Kasur'}),
    frozenset({'Karachi', 'Thatta'}),
    frozenset({'Quetta', 'Gawader', 'Ormara'})
}

# Printing nested set
print("\nNested Set:")
print("Set 1:", list(nested_set)[0])
print("Set 2:", list(nested_set)[1])
print("Set 3:", list(nested_set)[2])

Nested Set:
Set 1: frozenset({'Ormara', 'Gawader', 'Quetta'})
Set 2: frozenset({'Rawalpindi', 'Kasur', 'Lahore'})
Set 3: frozenset({'Thatta', 'Karachi'})

In [8]:
#8 Nested Dictionary with set

nested_dict_with_sets = {
    'Asia': {'Pakistan', 'China', 'Japan'},
    'Africa': {'South Africa', 'kenya', 'Rwanda'},
    'Europe': {'UK', 'Ireland', 'Itlay'}
}

print(nested_dict_with_sets)

{'Asia': {'China', 'Pakistan', 'Japan'}, 'Africa': {'Rwanda', 'kenya', 'South Africa'}, 'Europe': {'UK', 'Ireland', 'Itlay'}}

In [10]:

#9 Nested set with list
nested_set_with_lists = {
    frozenset({1, 2, 3}),
    frozenset({4, 5, 6}),
    frozenset({7, 8, 9})
}

print(nested_set_with_lists)

{frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({8, 9, 7})}

In [12]:
#10 Nested Dictionary with set and list
mixed_nested_dict_with_sets = {
    'set_dict1': {'set1': {1, 2, 3}, 'set2': {4, 5, 6}},
    'set_dict2': {'set3': {7, 8, 9}, 'set4': {10, 11, 12}},
    'set_dict3': {'set5': {13, 14, 15}, 'set6': {16, 17, 18}}
}

print(mixed_nested_dict_with_sets['set_dict1']['set1'])

{1, 2, 3}