### Import Necessary Libraries

In [15]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Creating Data Frame of given data

In [16]:
import pandas as pd

data = {
    'House Area in Marla': [5, 6, 7, 5, 10, 8],
    'No. of Rooms': [4, 5, 4, 5, 6, 6],
    'Price in Millions of PKR': [15, 17, 18, 15, 8, 16]
}

df = pd.DataFrame(data)

print(df)

   House Area in Marla  No. of Rooms  Price in Millions of PKR
0                    5             4                        15
1                    6             5                        17
2                    7             4                        18
3                    5             5                        15
4                   10             6                         8
5                    8             6                        16

### Apply linear  Polynomial and Multiple Regression

In [18]:
from sklearn.linear_model import LinearRegression


y  = df['Price in Millions of PKR']


# Linear Regression
linear_reg = LinearRegression()
linear_reg.fit(df[['House Area in Marla']], y)
df['Linear Regression'] = linear_reg.predict(df[['House Area in Marla']])


# 2 is the degree of the polynomial

coefficients = np.polyfit(df['House Area in Marla'], y, 2)  
poly = np.poly1d(coefficients)
df['Polynomial Regression'] = poly(df['House Area in Marla'])
df

# Multiple Regression
multi_reg = LinearRegression()
multi_reg.fit(df[['House Area in Marla', 'No. of Rooms']], y)
df['Multiple Regression'] = multi_reg.predict(df[['House Area in Marla', 'No. of Rooms']])

df

,House Area in Marla,No. of Rooms,Price in Millions of PKR,Linear Regression,Polynomial Regression,Multiple Regression
0,5,4,15,16.991150,14.979968,17.377119
1,6,5,17,15.814159,17.213942,15.567797
2,7,4,18,14.637168,17.629808,15.614407
3,5,5,15,16.991150,14.979968,16.449153
4,10,6,8,11.106195,7.968750,11.114407
5,8,6,16,13.460177,16.227564,12.877119